<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- <meta http-equiv="refresh" content="60" > -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Airco.{{ room }} Control</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
            crossorigin="anonymous"></script>
</head>

<body>

<!-- Mode switching -->
<div class="container">
    <div class="jumbotron">
        <h1>Kamer {{ room }}</h1>
        <form method="post">
            <input class="btn btn-primary btn-lg" type="submit" value="Status" name="Status"/>
            {% if ope == -1 %}
            <input class="btn btn-success btn-lg" type="submit" value="MANUAL" name="Manual"/>
            {% else %}
            <input class="btn btn-secondary btn-lg" type="submit" value="MANUAL" name="Manual"/>
            {% endif %}
            {% if ope == 0 %}
            <input class="btn btn-success btn-lg" type="submit" value="SEMI-AUTO" name="SemAut"/>
            {% else %}
            <input class="btn btn-secondary btn-lg" type="submit" value="SEMI-AUTO" name="SemAut"/>
            {% endif %}
            {% if ope == 1 %}
            <input class="btn btn-success btn-lg" type="submit" value="AUTO" name="Automaat"/>
            {% else %}
            <input class="btn btn-secondary btn-lg" type="submit" value="AUTO" name="Automaat"/>
            {% endif %}
            {% if ope == 2 %}
            <input class="btn btn-success btn-lg" type="submit" value="REMOTE" name="Remote"/>
            {% else %}
            <input class="btn btn-secondary btn-lg" type="submit" value="REMOTE" name="Remote"/>
            {% endif %}
        </form>
        <p></p>

<!-- Current values display -->
        <div class="row">
            <div class="col">
                <h3>{{ temperature }}</h3>
                Temperatuur
            </div>
            <div class="col">
                <h3>{{ humidity }}</h3>
                Vochtigheid
            </div>
            <div class="col">
                <h3>{{ moisture }}</h3>
                Vochtigheid
            </div>
        </div>
    </div>
</div>

<!-- User controls -->
<div class="container">
    <div class="jumbotron">
        {{ message }}
        {% if ope == 0 %}
        <form method="post">
            {% if mode == -1 %}
            <input class="btn btn-success btn-lg" type="submit" value="OFF" name="ModCtrl"/>
            {% else %}
            <input class="btn btn-secondary btn-lg" type="submit" value="OFF" name="ModCtrl"/>
            {% endif %}
            {% if mode == 0 %}
            <input class="btn btn-success btn-lg" type="submit" value="AUTO" name="ModCtrl"/>
            {% else %}
            <input class="btn btn-secondary btn-lg" type="submit" value="AUTO" name="ModCtrl"/>
            {% endif %}
            {% if mode == 1 %}
            <input class="btn btn-success btn-lg" type="submit" value="COOL" name="ModCtrl"/>
            {% else %}
            <input class="btn btn-secondary btn-lg" type="submit" value="COOL" name="ModCtrl"/>
            {% endif %}
            {% if mode == 2 %}
            <input class="btn btn-success btn-lg" type="submit" value="DRY" name="ModCtrl"/>
            {% else %}
            <input class="btn btn-secondary btn-lg" type="submit" value="DRY" name="ModCtrl"/>
            {% endif %}
            {% if mode == 3 %}
            <input class="btn btn-success btn-lg" type="submit" value="HEAT" name="ModCtrl"/>
            {% else %}
            <input class="btn btn-secondary btn-lg" type="submit" value="HEAT" name="ModCtrl"/>
            {% endif %}
            {% if mode == 4 %}
            <input class="btn btn-success btn-lg" type="submit" value="FAN ONLY" name="ModCtrl"/>
            {% else %}
            <input class="btn btn-secondary btn-lg" type="submit" value="FAN ONLY" name="ModCtrl"/>
            {% endif %}
        </form>
        <p></p>
        {% endif %}

        <form method="post">
            <div class="row">
                <div class="col">
                    {% if tempctrl == 1 %}
                    <input class="btn btn-success btn-lg btn-block" type="submit" value="+" name="Tctrl"/>
                    <h3 class="text-center">{{ tempset }}</h3>
                    <input class="btn btn-success btn-lg btn-block" type="submit" value="-" name="Tctrl"/>
                    {% else %}
                    <input class="btn btn-secondary btn-lg btn-block" type="submit" value="+" name=""/>
                    <h3 class="text-center">{{ tempset }}</h3>
                    <input class="btn btn-secondary btn-lg btn-block" type="submit" value="-" name=""/>
                    {% endif %}
                </div>
                <div class="col">
                    <input class="btn btn-outline-light btn-lg btn-block" disabled type="submit" value="-" name=""/>
                    <h3 class="text-center">{{ humset }}</h3>
                    <input class="btn btn-outline-light btn-lg btn-block" disabled type="submit" value="-" name=""/>
                </div>
                <div class="col">
                    {% if humctrl == 1 %}
                    <input class="btn btn-success btn-lg btn-block" type="submit" value="+" name="Hctrl"/>
                    <h3 class="text-center">{{ moistset }}</h3>
                    <input class="btn btn-success btn-lg btn-block" type="submit" value="-" name="Hctrl"/>
                    {% else %}
                    <input class="btn btn-secondary btn-lg btn-block" type="submit" value="+" name=""/>
                    <h3 class="text-center">{{ moistset }}</h3>
                    <input class="btn btn-secondary btn-lg btn-block" type="submit" value="-" name=""/>
                    {% endif %}
                </div>
                <div class="col">
                    {% if fanctrl == 1 %}
                    <input class="btn btn-success btn-lg btn-block" type="submit" value="+" name="Fctrl"/>
                    <h3 class="text-center">{{ fanset }}</h3>
                    <input class="btn btn-success btn-lg btn-block" type="submit" value="-" name="Fctrl"/>
                    {% else %}
                    <input class="btn btn-secondary btn-lg btn-block" type="submit" value="+" name=""/>
                    <h3 class="text-center">{{ fanset }}</h3>
                    <input class="btn btn-secondary btn-lg btn-block" type="submit" value="-" name=""/>
                    {% endif %}
                </div>
            </div>
        </form>
    </div>
</div>


</body>
</html>

