<!-- state.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Airco.{{ room }} Status</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

</head>

<body>

<div class="container">
    <div class="jumbotron">
        <h1>Kamer {{ room }}</h1>
        <form method="post" action="/">
            <input class="btn btn-primary btn-sm btn-block" type="submit" value="Instellingen..." name="Control" />
        </form>
        <p></p>

        <div class="row">
            <div class="col">
                <h3>{{ temperature }}</h3>
                Temperatuur
            </div>
            <div class="col">
                <h4>{{ humidity }}</h4>
                <h4>{{ moisture }}</h4>
                Vochtigheid
            </div>
            <div class="col">
                <h3>{{ pressure }}</h3>
                Luchtdruk
            </div>
            <div class="col">
                <h3>{{ co2 }}</h3>
                CO<sub>2</sub> concentratie
            </div>
            <div class="col">
                <h3>{{ voc }}</h3>
                VOC concentratie
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="jumbotron">
        <img src="{{ temperature_img }}" class="img-fluid">
        <img src="{{ delta_t_img }}" class="img-fluid">
        <img src="{{ moisture_img }}" class="img-fluid">
        <img src="{{ freq_img }}" class="img-fluid">
        <img src="{{ pressure_img }}" class="img-fluid">
        <img src="{{ co2_img }}" class="img-fluid">
        <img src="{{ voc_img }}" class="img-fluid">
    </div>
</div>

</body>
</html>

